php_value  upload_max_filesize  1000M
php_value  post_max_size  1005M
php_value  max_execution_time 1000
php_value  max_input_time 120

php_flag   display_startup_errors on
php_flag   display_errors on
php_flag   html_errors on
php_flag   log_errors on
php_value  error_log  /home/ubuntu/htdocs/transcription/PHP_errors.log
